{% load i18n %}

{# The grid #}

<div class="row" data-bind="with: {{ grid }}">
    <div class="hidden alert"
         id="{{ grid }}Alert">
    </div>
    <table class="table" data-bind="if: canView">

        {# Header #}

        <thead>
        <tr>

            <!-- ko foreach: fields -->

            <th data-bind="text: label">
            </th>

            <!-- /ko -->

            <th>
                        <span data-bind="if: canCreate">
                            <button type="button"
                                    id="rv.showNewItemDialogButton{{ grid }}"
                                    class="btn btn-primary pull-right"
                                    onclick="rv.showNewItemDialog('{{ grid }}')">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
            </th>

        </tr>
        </thead>

        {# Data rows #}

        <tbody data-bind="foreach: data">
        <tr>

            <!-- ko foreach: $parent.fields -->

            <td style="white-space: pre-wrap"
                data-bind="text: $parent[_field]">
            </td>

            <!-- /ko -->

            {# Actions #}

            <td>

                <!-- ko foreach: $parent.actions -->

                <button
                    type="button"
                    data-bind="
                        html: label,
                        css: add_class,
                        attr: {
                            'data-caller': caller,
                            'data-args': args,
                            'data-item': ko.toJSON($parent,null,2)
                        }
                    "
                    onclick="rv.triggerAction(this)">

                </button>

                <!-- /ko -->

            </td>

        </tr>
        </tbody>
    </table>

    {# Paginagion #}

    <ul class="pagination pull-right">
        <li
            data-bind="css: { 'disabled':(currentPage() == 1) }">
            <a href="#" onclick="rv.loadPage(this)"
                data-bind="
                    attr: {
                       'data-page': (currentPage() - 1),
                       'data-grid': '{{ grid }}'
                    }
                ">
                &laquo;
            </a>
        </li>
        <!-- ko foreach: pageRange -->
        <li data-bind="css: {'active': ($parent.currentPage() == $data)}">
            <a href="#" onclick="rv.loadPage(this)"
                data-bind="
                    text: $data,
                    attr: {
                        'data-page': $data,
                        'data-grid': '{{ grid }}'
                    }
                ">
               </a>
        </li>
        <!-- /ko -->
        <li
            data-bind="css: { 'disabled': (currentPage() + 1 > maxPages()) }">
            <a href="#" onclick="rv.loadPage(this)"
                data-bind="
                    attr: {
                        'data-page': (currentPage() + 1),
                        'data-grid': '{{ grid }}'
                    }
                ">
                &raquo;
            </a>
        </li>
    </ul>
</div>

{# New item form #}

<div id="rv.{{ grid }}NewItem" class="modal" tabindex="-1" role="dialog"
     aria-labelledby="NewItem" aria-hidden="true" data-bind="with: {{ grid }}">
    <div class="modal-dialog" data-bind="if: canCreate">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Create new item" %}</h4>
            </div>
            <div class="modal-body">

                <div class="hidden alert"
                     id="rv.{{ grid }}NewItemAlert">
                 </div>

                <form id="rv.{{ grid }}NewItemForm" class="form-horizontal"
                      role="form">
                    <!-- ko foreach: fields -->
                    <div class="form-group">
                        <label
                            data-bind="rvLabel: '{{ grid }}'"
                            class="col-sm-2 control-label">
                        </label>
                        <div class="col-sm-10">
                            <!-- ko if: type == "text" -->
                            <textarea
                                data-bind="rvInput: '{{ grid }}'"
                                class="form-control"
                                ></textarea>
                            <!-- /ko -->
                            <!-- ko ifnot: type == "text" -->
                            <input
                                data-bind="rvInput: '{{ grid }}'"
                                   class="form-control">
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                </form>
                <em class="pull-right">{% trans "* - required" %}</em>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        id="rv.cancelNewItem{{ grid }}"
                        data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button"
                        onclick="
                            rv.saveForm(
                                'rv.{{ grid }}NewItemForm',
                                '{{ grid }}'
                            )"
                        id="rv.saveNewItem{{ grid }}"
                        class="btn btn-primary">
                    {% trans "Save" %}
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    rv.addModel({{ params|safe }});

</script>