{% load i18n %}

<!-- Include jQuery -->

<script src="{{ lib_url_jquery }}"></script>

<!-- Include Knockout -->

<script src="{{ lib_url_knockout }}"></script>

<!-- Include Moment.js -->

<script src="{{ lib_url_moment }}"></script>

<!-- Include jquery.hotkeys.js -->

<script src="{{ lib_url_jquery_hotkeys }}"></script>

<!-- Include Restviews Bootstrapping-Functions -->

<script src="{{ restviews_url_bootstrap }}"></script>

<!-- Include translation -->

<script type="text/javascript">

    /**
     * RestViews Translation strings utilizing Django's i18n infrastructure
     */

    rv.msg = {

        "SaveError": '{% trans "Error saving data." %}',
        "LoadError": '{% trans "Error loading data." %}',
        "Retry": '{% trans "Retry" %}',
        "DeleteError": '{% trans "Error deleting item." %}',
        "DeleteSuccess": '{% trans "Successfully deleted item." %}',
        {# Translators: The Shortcut for a new item  #}
        "HotKeyNewItem": '{% trans "n" %}',
        "SelectNewItem": '{% trans "Please select what item to create." %}',
        "Create": '{% trans "Create" %}',
        "Update": '{% trans "Update" %}',
        "Delete": '{% trans "Delete" %}'

    };

    rv.uiImplementation = "{{ ui }}";

</script>

<!-- Include the other RestView Javascript libraries -->
<script src="{{ restviews_url_ui }}"></script>
<script src="{{ restviews_url_model }}"></script>
<script src="{{ restviews_url_functions }}"></script>
<script src="{{ restviews_url_validators }}"></script>
<script src="{{ restviews_url_ko_bindings }}"></script>

{% if ui == "bootstrap3" %}

<!-- Include Bootstrap -->

<link rel="stylesheet" type="text/css"
      href="{{ lib_url_bootstrap3.css }}">

<link rel="stylesheet" type="text/css"
      href="{{ lib_url_bootstrap3.theme }}">

<script src="{{ lib_url_bootstrap3.js }}"></script>

<!-- Include Bootstrap3-datetimepicker -->

<link rel="stylesheet" type="text/css"
      href="{{ lib_url_bootstrap3_datetimepicker.css }}">

<script src="{{ lib_url_bootstrap3_datetimepicker.js }}"></script>


{% endif %}