{% load i18n %}
<!-- Call Knockout -->

<script src="{{ knockout_url }}"></script>

<!-- Include Restviews.js -->

<script src="{{ restviews_url }}"></script>

<!-- Include translation -->

<script type="text/javascript">

    restViewsTranslation = {

        "SaveError": '{% trans "Error saving data." %}',
        "LoadError": '{% trans "Error loading data." %}',
        "Retry": '{% trans "Retry" %}',
        "DeleteError": '{% trans "Error deleting item." %}',
        "DeleteSuccess": '{% trans "Successfully deleted item." %}'

    };

</script>